@model SocialMedia

@{
    ViewData["Title"] = "Create social";
}


<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-8 offset-2">
            
            <div class="form-group">
                <label asp-for="Icon">Icon</label>
                <input type="file" asp-for="Icon" class="form-control" name="file" />
                <span asp-validation-for="Icon"></span>
            </div>

            <div class="form-group">
                <label asp-for="Link"> link</label>
                <input  type="url" asp-for="Link" class="form-control"  />
                <span asp-validation-for="Link"></span>
            </div>

           
            <div class="form-group" style="margin-top:20px;">
                <button type="submit" asp-action="Create" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>

</form>
