@model SocialMedia

<table class="table table-striped">
    <tr>
        <td>Id</td>
        <td>Icon</td>
        <td>Link</td>
        <td>UId</td>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Icon</td>
        <td>@Model.Link</td>
        <td>@Model.UId</td>
    </tr>
</table>
