@model Interest

<table class="table table-striped">
    <tr>
        <td>Id</td>
        <td>Description</td>
        <td>UId</td>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Desription</td>
        <td>@Model.UId</td>
    </tr>
</table>
