@model Tools

<table class="table table-striped">
    <tr>
        <td>Id</td>
        <td>Icon</td>
        <td>UId</td>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Icon</td>
        <td>@Model.UId</td>
    </tr>
</table>
