@model WorkFlow

@{
    ViewData["Title"] = "Create workflow";
}


<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-8 offset-2">
            
            <div class="form-group">
                <label asp-for="Description">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description"></span>
            </div>

            <div class="form-group">
                <label asp-for="UId"> UId</label>
                <input asp-for="UId" class="form-control" />
                <span asp-validation-for="UId"></span>
            </div>
            <div class="form-group">
                <button type="submit" asp-action="Create" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>

</form>
