@model Experience

@{
    ViewData["Title"] = "Create Experience";
}


<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-8 offset-2">
           
            <div class="form-group">
                <label asp-for="Company">Company</label>
                <input asp-for="Company" class="form-control" />
                <span asp-validation-for="Company"></span>
            </div>

            @*  <div class="form-group">
            <label asp-for="Image">Image</label>
            <input type="file" asp-for="Image" id="ImageFile" name="file" class="form-control" />
            <span asp-validation-for="Image"></span>
            </div>*@


            <div class="form-group">
                <label asp-for="Position"> Position</label>
                <input type="datetime" asp-for="Position" class="form-control" />
                <span asp-validation-for="Position"></span>
            </div>

            <div class="form-group">
                <label asp-for="JoinDate"> JoinDate</label>
                <input asp-for="JoinDate" class="form-control" />
                <span asp-validation-for="JoinDate"></span>
            </div>

            <div class="form-group">
                <label asp-for="EndDate"> EndDate</label>
                <input type="datetime" asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate"></span>
            </div>



            <div class="form-group">
                <label asp-for="Description">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description"></span>
            </div>

           
            <div class="form-group" style="margin-top:20px;">
                <button type="submit" asp-action="Create" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>

</form>
