@model Awards

<table class="table table-striped">
    <tr>
        <td>Id</td>
        <td>Description</td>
        <td>UID</td>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Description</td>
        <td>@Model.UId</td>
    </tr>
</table>
