@model Education

@{
    ViewData["Title"] = "Edit Education";
}


<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="form-group">
                <label asp-for="Id">Id</label>
                <input asp-for="Id" class="form-control" readonly />
                <span asp-validation-for="Id"></span>
            </div>
            <div class="form-group">
                <label asp-for="School">    School</label>
                <input asp-for="School" class="form-control" />
                <span asp-validation-for="School"></span>
            </div>

            @*  <div class="form-group">
            <label asp-for="Image">Image</label>
            <input type="file" asp-for="Image" id="ImageFile" name="file" class="form-control" />
            <span asp-validation-for="Image"></span>
            </div>*@


            <div class="form-group">
                <label asp-for="major"> Major</label>
                <input type="datetime" asp-for="major" class="form-control" />
                <span asp-validation-for="major"></span>
            </div>

            <div class="form-group">
                <label asp-for="JoinDate"> JoinDate</label>
                <input asp-for="JoinDate" class="form-control" />
                <span asp-validation-for="JoinDate"></span>
            </div>

            <div class="form-group">
                <label asp-for="EndDate"> EndDate</label>
                <input type="datetime" asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate"></span>
            </div>



            <div class="form-group">
                <label asp-for="Description">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description"></span>
            </div>

            <div class="form-group">
                <label asp-for="UId"> UId</label>
                <input asp-for="UId" class="form-control" />
                <span asp-validation-for="UId"></span>
            </div>
            <div class="form-group" style="margin-top:20px;">
                <button type="submit" asp-action="Edit" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>

</form>
